*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboyo', sans-serif;
}

body{
    background-color: rgba(8, 0, 255, 0.5);
}

.logo{
    display: block;
    margin: 20px auto;
    width: 300px;
}

.seta{
    margin: 15px;
    width: 35px;
    height: 49.94px;
}

main{
    width: 375px;
    background: #f4f4f4;
    border-radius: 20px;
    margin: 0 auto 40px;
    padding: 44px 24px 23px;
}

label{
    color: #777777;
    font-weight: 400;
    font-size: 14px;
}

select, input{
    background: #ffffff;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
    cursor: pointer;
}

button{
    width: 100%; 
    border: none;
    height: 48px;
    border-radius: 5px;
    background: #772FD3;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 0.6;
}

section{
    border: 1px solid #772FD3;
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.currency-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency{
    color: #777777;
    font-size: 14px;
}

.currency-value, .currency-value-to-convert{
    color: #555555; 
    font-weight: 700;
    font-size: 20px;
}